<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <script type="text/ng-template"  id="tree_item_renderer.html">
            {{node.item}}
            <ul>
                <li ng-repeat="node in node.subs | filter:query" ng-include="'tree_item_renderer.html'"></li>
            </ul>
        </script>

          <ul class="nodes">
              <li ng-repeat="node in nodes | filter:query" ng-include="'tree_item_renderer.html'"></li>
          </ul>

      </div>
    </div>
  </div>


<ul ng-app="Application" ng-controller="TreeController">
    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>

</body>
</html>
